.header {
    width: 100%;
    font-size: 120px;
    font-family: Cambria;
    background-color: black;
    color: gold;
    text-align: center;
}
p {
    text-align: left;
    font-size: 48px;
    font-family: Cambria;
}